/*共有样式*/
body{
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-family: "微软雅黑";
}

.main{
	width: 1173px;
	/*网页居中*/
	margin: 0 auto;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}

/*头部样式*/
header{
	height: 99px;
	border-bottom: 1px solid #E4E6EA;
	overflow: hidden;
}
 header .logo{
 	width: 214px;
 	height: 100%;
 	float: left;
 }
 
 header .logo a{
 	display: block;
 	height: 99px;
 	background: url(../images/logo.png) center no-repeat;
 }
 
 header nav{
 	float: left;
 	margin:28px 0px 0px 180px ;
 }
 
 header nav li{
 	float: left;
 	width: 106px;
 	height: 46px;
 	margin-left: 20px;
 }
 
 header nav li a{
 	display: block;
 	font-size: 20px;
 	text-decoration: none;
 	color: #9097A6;
 	height: 46px;
 	border: 1px solid white;
 	text-align: center;
 	line-height: 46px;
 	border-radius: 23px;
 	/*过度效果*/
 	transition: border 1s;
 	-moz-transition: border 1s;
 	-webkit-transition: border 1s;
 	-ms-transition: border 1s;
 }
 
 header nav li a:hover{
 	border-color: #B8C1CC;
 }
 header nav .active a{
 	border-color: #B8C1CC;
 }
 
 header .share{
 	float: right;
 	margin-top: 28px;
 }
 header .share li{
 	float: left;
 	margin-left: 15px;
 }
 header .share li a{
 	display: block;
 	width: 46px;
 	height: 46px;
 	border: 1px solid #9097A6;
 	border-radius: 50%;
 }
 
 header .share li:first-of-type a{
 	background: url(../images/share-f.png) no-repeat center;
 	border-color: #8194BD;
 }
 
 header .share li:last-of-type a{
 	background: url(../images/share-t.png) no-repeat center;
 	border-color: #55BCE7;
 }

/*关于我们*/
.about{
	height: 1500px;
	background: url(../images/banner-back.png);
}

.about hgroup{
	text-align: center;
	margin-top: 138px;
}
.about hgroup h1{
	font-size: 72px;
	color: #0149A1;
}

.about hgroup h2{
	font-size: 36px;
	color: #636F86;
	font-weight: 300;
}

.about .button-price{
	width: 240px;
	height: 60px;
	background-color: #FF2D55;
	border-radius: 30px;
	margin:100px auto 800px auto;
	text-align: center;
	line-height: 60px;
	transition: transform 2s;
}
.about .button-price a{
	font-size: 18px;
	text-decoration: none;
	color:white;
}

.about .button-price:hover{
	transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
}

.about .main{
	position: relative;
}
/*电脑*/
.about .about_iocn{
	background: url(../images/mac-icon.png) no-repeat;
	width:1327px ;
	height: 434px;
	position: absolute;
	top: 480px;
	left: -110px;
}
.about .mac{
	position: absolute;
	top: 480px;
	z-index: 2;
	margin-left: 75px;
	
}

.about .mac .play{
	width: 135px;
	height: 60px;
	background-color: white;
	border-radius: 30px;
	text-align: center;
	line-height: 60px;
	position: absolute;
	/*绝对定位居中的方法*/
	left: 50%;
	top: 50%;
	margin: -80px 0px 0px -70px ;
	transition: transform 2s;
	
}

.about .mac .play span{
	font-size: 18px;
	color: #044AA1;
	font-weight: bold;
	margin-right:30px ;
	vertical-align: middle;
}

.about .mac .play .ioc img{
	width: 17px;
	height: 21px;
	/*垂直居中*/
	vertical-align: middle;
}
.about .mac>img{
	transition: transform 2s;
}
.about .mac:hover >img{
	transform: scale(0.9);
	
}
.about .mac:hover >.play{
	transform: scale(1.1);
}

/*列表*/
.about section{
	overflow: hidden;
}
.about section ul li{
	float: left;
	width: 25%;
	text-align: center;
}

.about section ul li .iocn{
	display: block;
	width: 140px;
	height:140px;
	margin: 0 auto;
}
.about section ul li h2{
	font-size: 24px;
	color: #5D6981;
	margin-bottom: 20px;
}

.about section ul li p{
	font-size: 16px;
	color: #8493A6;
	width: 93%;
	line-height: 30px;
	font-weight: 100;
}

.price {
	height: 610px;
	background: url(../images/ask-price-back.jpg) no-repeat center;
	overflow: hidden;
}
.price a{
	display: block;
	width: 240px;
	height: 60px;
	background-color: #0149A1;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	line-height: 60px;
	border-radius: 30px;
	margin: 355px auto 0px auto;
	box-shadow: 0 0 70px 50px rgba(255,255,255,1);
	transition: 2s;
}

.price a:hover{
	animation:pricebtn 2s infinite linear ;
	
}
@keyframes pricebtn{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.2);
	}
	100%{
		transform: scale(1);
	}
}
@-moz-keyframes pricebtn{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.2);
	}
	100%{
		transform: scale(1);
	}
}

@-webkit-keyframes pricebtn{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.2);
	}
	100%{
		transform: scale(1);
	}
}

.swiper-container {
    width: 100%;
    height: 630px;
}  

.swiper-button-prev, .swiper-button-next{
	width: 75px;
	height: 75px;
    border-radius: 50%;
	border: 1px solid #E3E7EB;
	text-align: center;
	line-height: 75px;
	font-size: 36px;
	background: none;/*无背景*/
}

.swiper-pagination-bullet{
	width: 24px;
	height: 24px;
	background-color: white;
	border: 1px solid #DADEE4;
	/*完全不透明*/
	opacity: 1;
}
.swiper-pagination-bullet-active:before{
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #7C8CA0;
	margin: 4px;
}
